.navbar {
	display: flex;
	justify-content: space-around;
	background: rgba(150, 150, 255, 0.5);
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	border: solid white 0.1em;
}

h1 + p {
	width: 100%;
}

.content {
	display: flex;
	flex-wrap: wrap;
	background: rgba(150, 150, 255, 0.2);
	border: solid white 0.1em;
}

.news {
	width: 33%;
}